In [5]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 25)

In [6]:
df = pd.read_csv("./Billboard Hot 100 since 1958.csv")

In [7]:
df.columns

Index(['chart_position', 'chart_date', 'song', 'performer', 'song_id',
       'instance', 'time_on_chart', 'consecutive_weeks', 'previous_week',
       'peak_position', 'worst_position', 'chart_debut', 'chart_url'],
      dtype='object')

In [8]:
df.isnull().sum()

chart_position           0
chart_date               0
song                     0
performer                0
song_id                  0
instance                 0
time_on_chart            0
consecutive_weeks    33667
previous_week        33667
peak_position            0
worst_position           0
chart_debut              0
chart_url                0
dtype: int64

In [9]:
df.shape

(338395, 13)

In [10]:
df['chart_date'] = pd.to_datetime(df['chart_date'], format='%Y-%m-%d')
df.drop(['chart_position'], axis=1)
df.sort_values(by='chart_date', inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(1000)['chart_date'].value_counts()

chart_date
1958-08-02    100
1958-08-09    100
1958-08-16    100
1958-08-23    100
1958-08-30    100
1958-09-06    100
1958-09-13    100
1958-09-20    100
1958-09-27    100
1958-10-04    100
Name: count, dtype: int64

In [11]:
# Check if every date is the same
df['chart_day'] = df['chart_date'].dt.dayofweek
df['chart_day'] = df['chart_day'].map({
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
})
df = df[['chart_position', 'chart_date', 'chart_day', 'song', 'performer' 
       #'song_id', 'instance', 'time_on_chart', 
       #'consecutive_weeks', 'previous_week',
       #'peak_position', 'worst_position', 'chart_debut'
       , 'chart_url'
       ]]
df

,chart_position,chart_date,chart_day,song,performer,chart_url
0,41,1958-08-02,Saturday,Early In The Morning,Buddy Holly,https://www.billboard.com/charts/hot-100/1958-...
1,57,1958-08-02,Saturday,You Need Hands,Eydie Gorme,https://www.billboard.com/charts/hot-100/1958-...
2,94,1958-08-02,Saturday,She Was Only Seventeen (He Was One Year More),Marty Robbins,https://www.billboard.com/charts/hot-100/1958-...
3,5,1958-08-02,Saturday,When,Kalin Twins,https://www.billboard.com/charts/hot-100/1958-...
4,11,1958-08-02,Saturday,Ginger Bread,Frankie Avalon,https://www.billboard.com/charts/hot-100/1958-...
...,...,...,...,...,...,...
338390,81,2023-05-27,Saturday,Go Hard,Lil Baby,https://www.billboard.com/charts/hot-100/2023-...
338391,17,2023-05-27,Saturday,Search & Rescue,Drake,https://www.billboard.com/charts/hot-100/2023-...
338392,79,2023-05-27,Saturday,I Wrote The Book,Morgan Wallen,https://www.billboard.com/charts/hot-100/2023-...
338393,6,2023-05-27,Saturday,Calm Down,Rema & Selena Gomez,https://www.billboard.com/charts/hot-100/2023-...
338394,10,2023-05-27,Saturday,Anti-Hero,Taylor Swift,https://www.billboard.com/charts/hot-100/2023-...

In [12]:
df['chart_day'].value_counts()

chart_day
Saturday    338395
Name: count, dtype: int64

100 % of the entries are reset on Saturday

In [13]:
df.head(100)['song'].value_counts()

song
Early In The Morning    2
Over And Over           2
Got A Match?            2
Fool's Paradise         1
Splish Splash           1
                       ..
Happy Years             1
Blue Blue Day           1
Come What May           1
My True Love            1
Just A Dream            1
Name: count, Length: 97, dtype: int64

In [14]:
df.chart_date.value_counts().value_counts()

count
100    3377
99        5
200       1
Name: count, dtype: int64

In [15]:
df['chart_date'].value_counts()[df['chart_date'].value_counts() == 99]

chart_date
1991-11-16    99
1991-11-23    99
1991-11-30    99
1991-12-07    99
1991-12-14    99
Name: count, dtype: int64

In [16]:
df['chart_date'].value_counts()[df['chart_date'].value_counts() == 200]

chart_date
2023-01-07    200
Name: count, dtype: int64

In [17]:
df['chart_date'].value_counts()[df['chart_date'].value_counts() == 100]

chart_date
1958-08-02    100
2001-11-24    100
2001-09-15    100
2001-09-22    100
2001-09-29    100
             ...
1980-03-15    100
1980-03-22    100
1980-03-29    100
1980-04-05    100
2023-05-27    100
Name: count, Length: 3377, dtype: int64

In [18]:
df.head(100)
df.head(100).chart_position.value_counts()

chart_position
50    2
74    2
63    2
41    1
35    1
     ..
77    1
32    1
43    1
8     1
96    1
Name: count, Length: 97, dtype: int64

In [19]:
df.head(100).song.value_counts()

song
Early In The Morning    2
Over And Over           2
Got A Match?            2
Fool's Paradise         1
Splish Splash           1
                       ..
Happy Years             1
Blue Blue Day           1
Come What May           1
My True Love            1
Just A Dream            1
Name: count, Length: 97, dtype: int64

In [20]:
df.head(100)[df['chart_position'].isin([50, 74, 63])].sort_values(by='chart_position')

/var/folders/qk/t7psjtl510s8pvxmhbfn6v780000gn/T/ipykernel_15335/2881002666.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.head(100)[df['chart_position'].isin([50, 74, 63])].sort_values(by='chart_position')

,chart_position,chart_date,chart_day,song,performer,chart_url
22,50,1958-08-02,Saturday,"Baubles, Bangles And Beads",The Kirby Stone Four,https://www.billboard.com/charts/hot-100/1958-...
80,50,1958-08-02,Saturday,By The Light Of The Silvery Moon,Jimmy Bowen with the Rhythm Orchids,https://www.billboard.com/charts/hot-100/1958-...
35,63,1958-08-02,Saturday,High School Confidential,Jerry Lee Lewis And His Pumping Piano,https://www.billboard.com/charts/hot-100/1958-...
94,63,1958-08-02,Saturday,Padre,Toni Arden,https://www.billboard.com/charts/hot-100/1958-...
40,74,1958-08-02,Saturday,Gotta Have Rain,Eydie Gorme,https://www.billboard.com/charts/hot-100/1958-...
79,74,1958-08-02,Saturday,Win Your Love For Me,Sam Cooke,https://www.billboard.com/charts/hot-100/1958-...

In [21]:
df.at[22, 'chart_url']

'https://www.billboard.com/charts/hot-100/1958-08-02'